########################################################################################################################
### Глобальные
########################################################################################################################

.DS_Store

########################################################################################################################
### Для среды разработки
########################################################################################################################

# PhpStorm
/.idea/*

########################################################################################################################
### Symfony
########################################################################################################################

# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!/app/cache/.gitkeep
!/app/logs/.gitkeep

# Cache and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!/var/cache/.gitkeep
!/var/logs/.gitkeep
!/var/sessions/.gitkeep

/bin/*
!/bin/.gitkeep
!/bin/console
!/bin/symfony_requirements

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Assets and user uploads
/web/bundles/*
/web/uploads/*
/web/cache/*
!/web/cache/.gitkeep

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

########################################################################################################################
### Composer
########################################################################################################################

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache

# Vendor folder with
/vendor/*

# Composer PHAR
/composer.phar

########################################################################################################################
### Рабочие (не стандартные) игноры
########################################################################################################################

# Yandex
!/app/cache/yandex/.gitkeep

########################################################################################################################
### Прочее
########################################################################################################################

# SSL QIWI
/src/App/QIWIBundle/SSL/*
!/src/App/QIWIBundle/SSL/.gitkeep

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/*

#
webstat/